<section>
    <a href="/dashboard" class="is-pulled-right">Dashboard</a>
  <h3 class="title">Write a new blog post</h3><hr>

  <form class="newPost">
    <div>
      <label for="post-title">title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Blog Title"/>
    </div>
    <div>
      <label for="postText">content:</label>
      <input class="textarea is-large" id="postText" name="postText" placeholder="Let's get writing!"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Submit Post</button>
  </form>
</section>


<script src="/javascript/createPost.js"></script>